//Source code medium
@font-face {
    font-family: "scm";
    src: url(../data/fonts/sourcecodepro/Sourcecodepromedium.ttf) format("ttf"),
        url(../data/fonts/sourcecodepro/Sourcecodepromedium.woff) format("woff"),
        url(../data/fonts/sourcecodepro/Sourcecodepromedium.woff2) format("woff2");
}

//Source code semibold
@font-face {
    font-family: "scs";
    src: url(../data/fonts/sourcecodepro/Sourcecodeprosemibold.ttf) format("ttf"),
        url(../data/fonts/sourcecodepro/Sourcecodeprosemibold.woff) format("woff"),
        url(../data/fonts/sourcecodepro/Sourcecodeprosemibold.woff2) format("woff2");
}

//Source code light
@font-face {
    font-family: "scl";
    src: url(../data/fonts/sourcecodepro/Sourcecodeprolight.ttf) format("ttf"),
        url(../data/fonts/sourcecodepro/Sourcecodeprolight.woff) format("woff"),
        url(../data/fonts/sourcecodepro/Sourcecodeprolight.woff2) format("woff2");
}

//Source code regular
@font-face {
    font-family: "scr";
    src: url(../data/fonts/sourcecodepro/Sourcecodepro.ttf) format("ttf"),
        url(../data/fonts/sourcecodepro/Sourcecodepro.woff) format("woff"),
        url(../data/fonts/sourcecodepro/Sourcecodepro.woff2) format("woff2");
}

@mixin automargin() {
    margin-left: auto;
    margin-right: auto;
}

.article_container {
    margin-top: 100px;

    width: auto;

    .article_title {
        font-family: 'scr';

        text-align: center;

        font-size: 96px; //
        font-weight: 400;

        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
            1px 4px 6px rgba(124, 60, 0, 0.5), 0px 0px 18px #000000;
    }

    .article_bg {
        background: rgba(30%, 30%, 30%, 0.75);

        border-radius: 34px; //
        width: 1187px; //
        //width: 70%; //debag
        padding: 50px; //
        padding-top: 1px;
        padding-bottom: 50px;

        @include automargin();

        .topic_title {
            text-align: center;
            font-family: 'scs';

            color: #FFFFFF;

            font-size: 67px; //
            margin-top: 20px;
            margin-bottom: 20px;
            letter-spacing: 0.1em;
        }

        .topic_type1 {
            display: grid;

            grid-template-columns: 50% 50%; //

            background: rgba(0%, 0%, 0%, 0.5);

            border-radius: 37px; //

            p {
                font-family: 'scm';

                font-size: 19px; //
                line-height: 24px;
                letter-spacing: 0.045em;
                text-indent: 25px;

                padding: 15px;

                color: #FFFFFF;
            }

            figure {
                display: block;

                margin: 15px; //

                width: auto;

                img {
                    background: #E4E4E4;
                    border: 9px solid #FFB257;
                    box-sizing: border-box;
                    border-radius: 30px;

                    object-fit: cover;

                    width: 100%;
                }

                figcaption {
                    font-family: 'scr';
                    font-weight: bold;

                    font-size: 26px; //
                    line-height: 33px;

                    text-align: center;

                    color: #FFFFFF;
                }
            }
        }

        .topic_type2 {
            h3 {
                font-family: 'Source Code Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 50px;
                letter-spacing: 0.105em;

                color: #FFFFFF;
            }
        }
    }
}