@font-face {
  font-family: "scm";
  src: url(../data/fonts/sourcecodepro/Sourcecodepromedium.ttf) format("ttf"), url(../data/fonts/sourcecodepro/Sourcecodepromedium.woff) format("woff"), url(../data/fonts/sourcecodepro/Sourcecodepromedium.woff2) format("woff2");
}

@font-face {
  font-family: "scs";
  src: url(../data/fonts/sourcecodepro/Sourcecodeprosemibold.ttf) format("ttf"), url(../data/fonts/sourcecodepro/Sourcecodeprosemibold.woff) format("woff"), url(../data/fonts/sourcecodepro/Sourcecodeprosemibold.woff2) format("woff2");
}

@font-face {
  font-family: "scl";
  src: url(../data/fonts/sourcecodepro/Sourcecodeprolight.ttf) format("ttf"), url(../data/fonts/sourcecodepro/Sourcecodeprolight.woff) format("woff"), url(../data/fonts/sourcecodepro/Sourcecodeprolight.woff2) format("woff2");
}

@font-face {
  font-family: "scr";
  src: url(../data/fonts/sourcecodepro/Sourcecodepro.ttf) format("ttf"), url(../data/fonts/sourcecodepro/Sourcecodepro.woff) format("woff"), url(../data/fonts/sourcecodepro/Sourcecodepro.woff2) format("woff2");
}

@media screen and (min-width: 1550px) {
  .time_line_container {
    margin-top: 65px;
  }
  .time_line_container .time_line {
    width: 1490px;
  }
  .time_line_container .tltitle {
    font-size: 86px;
  }
  .time_line_container .tlbg {
    padding-left: 50px;
    padding-right: 50px;
    width: 1390px;
  }
  .time_line_container .tlbg .line_contrainer .date_txt {
    font-size: 32px;
  }
  .time_line_container .tlbg .line_contrainer .line {
    height: 86px;
    border-radius: 37px;
    margin-top: 75px;
  }
  .time_line_container .tlbg .line_contrainer .line .date_line {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .time_line_container .tlbg .line_contrainer .line .date_line_sellecter {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .time_line_container .tlbg .line_contrainer .line #dl1 {
    margin-left: 6%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls1 {
    margin-left: 4%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl2 {
    margin-left: 11.8%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls2 {
    margin-left: 8%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl3 {
    margin-left: 7.7%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls3 {
    margin-left: 11.6%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl4 {
    margin-left: 4%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl5 {
    margin-left: 16.8%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls4 {
    margin-left: 6%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl6 {
    margin-left: 9.7%;
  }
  .time_line_container .tlbg .Description {
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 27px;
  }
  .time_line_container .tlbg .Description .DscTitle {
    font-size: 90px;
  }
  .time_line_container .tlbg .Description .DscInfo {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
  .time_line_container {
    margin-top: 65px;
  }
  .time_line_container .time_line {
    width: 1090px;
  }
  .time_line_container .tltitle {
    font-size: 60px;
  }
  .time_line_container .tlbg {
    padding-left: 25px;
    padding-right: 25px;
    width: 1040px;
  }
  .time_line_container .tlbg .line_contrainer .date_txt {
    font-size: 24px;
  }
  .time_line_container .tlbg .line_contrainer .line {
    height: 70px;
    border-radius: 25px;
    margin-top: 55px;
  }
  .time_line_container .tlbg .line_contrainer .line .date_line {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .time_line_container .tlbg .line_contrainer .line .date_line_sellecter {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .time_line_container .tlbg .line_contrainer .line #dl1 {
    margin-left: 6%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls1 {
    margin-left: 4%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl2 {
    margin-left: 11%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls2 {
    margin-left: 8%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl3 {
    margin-left: 7.1%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls3 {
    margin-left: 11%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl4 {
    margin-left: 4%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl5 {
    margin-left: 16.5%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls4 {
    margin-left: 6%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl6 {
    margin-left: 9%;
  }
  .time_line_container .tlbg .Description {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 27px;
  }
  .time_line_container .tlbg .Description .DscTitle {
    font-size: 65px;
  }
  .time_line_container .tlbg .Description .DscInfo {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1199px) {
  .time_line_container {
    margin-top: 40px;
  }
  .time_line_container .time_line {
    width: 690px;
  }
  .time_line_container .tltitle {
    font-size: 50px;
  }
  .time_line_container .tlbg {
    padding-left: 25px;
    padding-right: 25px;
    width: 640px;
  }
  .time_line_container .tlbg .line_contrainer .date_txt {
    font-size: 20px;
  }
  .time_line_container .tlbg .line_contrainer .line {
    height: 55px;
    border-radius: 20px;
    margin-top: 42px;
  }
  .time_line_container .tlbg .line_contrainer .line .date_line {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .time_line_container .tlbg .line_contrainer .line .date_line_sellecter {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .time_line_container .tlbg .line_contrainer .line #dl1 {
    margin-left: 5.9%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls1 {
    margin-left: 4%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl2 {
    margin-left: 9.3%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls2 {
    margin-left: 6.7%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl3 {
    margin-left: 6.8%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls3 {
    margin-left: 9.3%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl4 {
    margin-left: 4%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl5 {
    margin-left: 15.9%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls4 {
    margin-left: 6%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl6 {
    margin-left: 7.4%;
  }
  .time_line_container .tlbg .Description {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
  }
  .time_line_container .tlbg .Description .DscTitle {
    font-size: 40px;
  }
  .time_line_container .tlbg .Description .DscInfo {
    font-size: 12px;
  }
}

@media screen and (min-width: 440px) and (max-width: 749px) {
  .time_line_container {
    margin-top: 40px;
  }
  .time_line_container .time_line {
    width: 390px;
  }
  .time_line_container .tltitle {
    font-size: 47px;
  }
  .time_line_container .tlbg {
    padding-left: 10px;
    padding-right: 10px;
    width: 340px;
  }
  .time_line_container .tlbg .line_contrainer .date_txt {
    font-size: 20px;
  }
  .time_line_container .tlbg .line_contrainer .line {
    height: 55px;
    border-radius: 20px;
    margin-top: 42px;
  }
  .time_line_container .tlbg .line_contrainer .line .date_line {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .time_line_container .tlbg .line_contrainer .line .date_line_sellecter {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .time_line_container .tlbg .line_contrainer .line #dl1 {
    margin-left: 5.5%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls1 {
    margin-left: 2.5%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl2 {
    margin-left: 7.3%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls2 {
    margin-left: 4.8%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl3 {
    margin-left: 5%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls3 {
    margin-left: 7%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl4 {
    margin-left: 2.7%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl5 {
    margin-left: 14.3%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls4 {
    margin-left: 4%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl6 {
    margin-left: 5.7%;
  }
  .time_line_container .tlbg .Description {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 18px;
  }
  .time_line_container .tlbg .Description .DscTitle {
    font-size: 25px;
  }
  .time_line_container .tlbg .Description .DscInfo {
    font-size: 9px;
  }
}

@media screen and (max-width: 439px) {
  .time_line_container {
    margin-top: 40px;
  }
  .time_line_container .time_line {
    width: 310px;
  }
  .time_line_container .tltitle {
    font-size: 40px;
  }
  .time_line_container .tlbg {
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
  }
  .time_line_container .tlbg .line_contrainer .date_txt {
    font-size: 18px;
  }
  .time_line_container .tlbg .line_contrainer .line {
    height: 55px;
    border-radius: 20px;
    margin-top: 37px;
  }
  .time_line_container .tlbg .line_contrainer .line .date_line {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .time_line_container .tlbg .line_contrainer .line .date_line_sellecter {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .time_line_container .tlbg .line_contrainer .line #dl1 {
    margin-left: 5.5%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls1 {
    margin-left: 2%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl2 {
    margin-left: 5%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls2 {
    margin-left: 3.5%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl3 {
    margin-left: 3.2%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls3 {
    margin-left: 4%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl4 {
    margin-left: 2.7%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl5 {
    margin-left: 13%;
  }
  .time_line_container .tlbg .line_contrainer .line #dls4 {
    margin-left: 2.9%;
  }
  .time_line_container .tlbg .line_contrainer .line #dl6 {
    margin-left: 4%;
  }
  .time_line_container .tlbg .Description {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 18px;
  }
  .time_line_container .tlbg .Description .DscTitle {
    font-size: 16px;
  }
  .time_line_container .tlbg .Description .DscInfo {
    font-size: 7px;
  }
}

#dls1:hover,
#dls2:hover,
#dls3:hover,
#dls4:hover,
#dls5:hover,
#dls6:hover {
  cursor: pointer;
}

body {
  background-image: url(../data/img/Art12.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.time_line_container {
  display: block;
  width: 100%;
}

.time_line_container .time_line {
  margin-left: auto;
  margin-right: auto;
}

.time_line_container .time_line .tltitle {
  font-family: 'scr';
  text-align: center;
  font-weight: bold;
  line-height: 100%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 4px 6px rgba(124, 60, 0, 0.5), 0px 0px 18px #000000;
}

.time_line_container .time_line .tlbg {
  background: rgba(73, 73, 73, 0.85);
  border-radius: 34px;
  margin-left: auto;
  margin-right: auto;
}

.time_line_container .time_line .tlbg .line_contrainer .date_txt {
  font-family: 'scm';
  float: left;
  width: 0;
  line-height: 50%;
  color: #FFFFFF;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.time_line_container .time_line .tlbg .line_contrainer #d1 {
  margin-left: 6%;
}

.time_line_container .time_line .tlbg .line_contrainer #d2 {
  margin-left: 17.6%;
}

.time_line_container .time_line .tlbg .line_contrainer #d3 {
  margin-left: 17.6%;
}

.time_line_container .time_line .tlbg .line_contrainer #d4 {
  margin-left: 17.6%;
}

.time_line_container .time_line .tlbg .line_contrainer #d5 {
  margin-left: 17.6%;
}

.time_line_container .time_line .tlbg .line_contrainer #d6 {
  margin-left: 17.6%;
}

.time_line_container .time_line .tlbg .line_contrainer .line {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #0B0B0B;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.time_line_container .time_line .tlbg .line_contrainer .line .date_line {
  width: 11px;
  height: 125%;
  background: #1E1E1E;
  border-radius: 6px;
  float: left;
}

.time_line_container .time_line .tlbg .line_contrainer .line .date_line_sellecter {
  width: 16px;
  height: 125%;
  background: #969696;
  border-radius: 6px;
  float: left;
}

.time_line_container .time_line .tlbg .line_contrainer .line #dls1:hover {
  background: #632b00;
}

.time_line_container .time_line .tlbg .line_contrainer .line #dls2:hover {
  background: #d48300;
}

.time_line_container .time_line .tlbg .line_contrainer .line #dls3:hover {
  background: #c49a56;
}

.time_line_container .time_line .tlbg .line_contrainer .line #dls4:hover {
  background: #bdac91;
}

.time_line_container .time_line .tlbg .Description {
  width: 96.4225%;
  height: auto;
  background: rgba(35, 35, 35, 0.75);
}

.time_line_container .time_line .tlbg .Description .DscTitle {
  font-family: 'scl';
  text-align: center;
  margin: 0;
  color: #23D735;
}

.time_line_container .time_line .tlbg .Description .DscInfo {
  font-family: 'scl';
  color: #FFFFFF;
}
/*# sourceMappingURL=Half_life2_timeline.css.map */