@font-face {
  font-family: "scm";
  src: url(../data/fonts/sourcecodepro/Sourcecodepromedium.ttf) format("ttf"), url(../data/fonts/sourcecodepro/Sourcecodepromedium.woff) format("woff"), url(../data/fonts/sourcecodepro/Sourcecodepromedium.woff2) format("woff2");
}

@font-face {
  font-family: "scs";
  src: url(../data/fonts/sourcecodepro/Sourcecodeprosemibold.ttf) format("ttf"), url(../data/fonts/sourcecodepro/Sourcecodeprosemibold.woff) format("woff"), url(../data/fonts/sourcecodepro/Sourcecodeprosemibold.woff2) format("woff2");
}

@font-face {
  font-family: "scl";
  src: url(../data/fonts/sourcecodepro/Sourcecodeprolight.ttf) format("ttf"), url(../data/fonts/sourcecodepro/Sourcecodeprolight.woff) format("woff"), url(../data/fonts/sourcecodepro/Sourcecodeprolight.woff2) format("woff2");
}

@font-face {
  font-family: "scr";
  src: url(../data/fonts/sourcecodepro/Sourcecodepro.ttf) format("ttf"), url(../data/fonts/sourcecodepro/Sourcecodepro.woff) format("woff"), url(../data/fonts/sourcecodepro/Sourcecodepro.woff2) format("woff2");
}

body {
  background-image: url(../data/img/Art2.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-width: 1280px;
  max-width: 1920px;
  margin: 0;
}

.ReturnToMenu {
  position: fixed;
  width: 141px;
  height: 71px;
  left: -44px;
  top: 75px;
}

.ReturnToMenu .RTM_bg {
  width: 141px;
  height: 71px;
  background: rgba(138, 138, 138, 0.75);
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  -webkit-transform: translateX(-75px);
          transform: translateX(-75px);
  -webkit-animation-name: return_out;
          animation-name: return_out;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
}

.ReturnToMenu .RTM_bg .RTM_txt {
  margin-top: 5px;
  margin-left: 35px;
  font-family: 'scr';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #121212;
}

.ReturnToMenu:hover .RTM_bg {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-animation-name: return_in;
          animation-name: return_in;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
}

.selectbar:hover .selectbarbg {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation-name: sellector_in;
          animation-name: sellector_in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.selectbar {
  position: fixed;
  width: 100%;
  height: 116px;
  top: -29px;
}

.selectbar .selectbarbg {
  width: 1516px;
  height: 116px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 408px 277px 277px 277px 240px;
      grid-template-columns: 408px 277px 277px 277px 240px;
  background: rgba(109, 109, 109, 0.6);
  -webkit-box-shadow: 0px 4px 17px 5px rgba(33, 14, 0, 0.25);
          box-shadow: 0px 4px 17px 5px rgba(33, 14, 0, 0.25);
  border-radius: 37px;
  -webkit-animation-name: sellector_out;
          animation-name: sellector_out;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
}

.selectbar .selectbarbg .sbbut0 {
  width: 299px;
  height: 61px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #C5BFB2;
  border-radius: 23px;
}

.selectbar .selectbarbg .sbbut0 .sbbut0t {
  margin-top: 7.3px;
  font-family: 'scs';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  text-shadow: 1px 0px 3px #7C3400;
}

.selectbar .selectbarbg .sbbut1 {
  width: 261px;
  height: 55px;
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  background: #FF5353;
  border-radius: 23px;
}

.selectbar .selectbarbg .sbbut1 .sbbut1t {
  font-family: 'scm';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.selectbar .selectbarbg .sbbut2 {
  width: 261px;
  height: 55px;
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  background: #7489D5;
  border-radius: 23px;
}

.selectbar .selectbarbg .sbbut2 .sbbut2t {
  font-family: 'scm';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.selectbar .selectbarbg .sbbut3 {
  width: 261px;
  height: 55px;
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  background: #70AB55;
  border-radius: 23px;
}

.selectbar .selectbarbg .sbbut3 .sbbut3t {
  font-family: 'scm';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.selectbar .selectbarbg .sbbut4 {
  width: 210px;
  height: 55px;
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  background: #FFB257;
  border-radius: 23px;
}

.selectbar .selectbarbg .sbbut4 .sbbut4t {
  margin-top: 14px;
  font-family: 'scm';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.time_line {
  width: 1490px;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
}

.time_line .tltitle {
  font-family: 'scr';
  text-align: center;
  font-weight: 400;
  font-size: 96px;
  line-height: 121px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 4px 6px rgba(124, 60, 0, 0.5), 0px 0px 18px #000000;
}

.time_line .tlbg {
  background: rgba(73, 73, 73, 0.85);
  border-radius: 34px;
  padding-left: 50px;
  padding-right: 50px;
  width: 1390px;
}

.time_line .tlbg .line_contrainer .date_txt {
  font-family: 'scm';
  float: left;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.time_line .tlbg .line_contrainer #d1 {
  margin-left: 94.4px;
}

.time_line .tlbg .line_contrainer #d2 {
  margin-left: 205px;
}

.time_line .tlbg .line_contrainer #d3 {
  margin-left: 200px;
}

.time_line .tlbg .line_contrainer #d4 {
  margin-left: 194px;
}

.time_line .tlbg .line_contrainer #d5 {
  margin-left: 171px;
}

.time_line .tlbg .line_contrainer #d6 {
  margin-left: 195px;
}

.time_line .tlbg .line_contrainer .line {
  width: 1363px;
  height: 86px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  background: #0B0B0B;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
}

.time_line .tlbg .line_contrainer .line .date_line {
  width: 11px;
  height: 110px;
  background: #1E1E1E;
  border-radius: 6px;
  float: left;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.time_line .tlbg .line_contrainer .line .date_line_sellecter {
  width: 16px;
  height: 110px;
  background: #969696;
  border-radius: 6px;
  float: left;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.time_line .tlbg .line_contrainer .line #dl1 {
  margin-left: 94.4px;
}

.time_line .tlbg .line_contrainer .line #dls1 {
  margin-left: 35px;
}

.time_line .tlbg .line_contrainer .line #dls2 {
  margin-left: 97px;
}

.time_line .tlbg .line_contrainer .line #dl2 {
  margin-left: 70px;
}

.time_line .tlbg .line_contrainer .line #dls3 {
  margin-left: 35px;
}

.time_line .tlbg .line_contrainer .line #dl3 {
  margin-left: 180px;
}

.time_line .tlbg .line_contrainer .line #dls4 {
  margin-left: 35px;
}

.time_line .tlbg .line_contrainer .line #dl4 {
  margin-left: 170px;
}

.time_line .tlbg .line_contrainer .line #dl5 {
  margin-left: 200px;
}

.time_line .tlbg .line_contrainer .line #dls5 {
  margin-left: 35px;
}

.time_line .tlbg .line_contrainer .line #dls6 {
  margin-left: 97px;
}

.time_line .tlbg .line_contrainer .line #dl6 {
  margin-left: 60px;
}

.time_line .tlbg .Description {
  width: 1340px;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  background: rgba(35, 35, 35, 0.75);
  border-radius: 27px;
}

.time_line .tlbg .Description .DscTitle {
  font-family: 'scl';
  font-size: 90px;
  text-align: center;
  margin: 0;
  color: #23D735;
}

.time_line .tlbg .Description .DscInfo {
  font-family: 'scl';
  font-size: 22px;
  color: #FFFFFF;
}

@-webkit-keyframes sellector_out {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
}

@keyframes sellector_out {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
}

@-webkit-keyframes sellector_in {
  0% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes sellector_in {
  0% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes return_out {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
  }
}

@keyframes return_out {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
  }
}

@-webkit-keyframes return_in {
  0% {
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes return_in {
  0% {
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=Half_life1_timeline.css.map */