@font-face {
  font-family: "Source-light";
  src: url("../data/fonts/sourcecodepro/Sourcecodeprolight.ttf") format("ttf"), url("../data/fonts/sourcecodepro/Sourcecodeprolight.woff") format("woff"), url("../data/fonts/sourcecodepro/Sourcecodeprolight.woff2") format("woff2");
}

@font-face {
  font-family: "HL1";
  src: url("../data/fonts/halflife2.ttf");
}

@font-face {
  font-family: "Source-medium";
  src: url("../data/fonts/sourcecodepro/Sourcecodepromedium.ttf") format("ttf"), url("../data/fonts/sourcecodepro/Sourcecodepromedium.woff") format("woff"), url("../data/fonts/sourcecodepro/Sourcecodepromedium.woff2") format("woff2");
}

@media screen and (min-width: 1820px) {
  .title {
    height: 240px;
  }
  .title_txt0 {
    font-size: 96px;
  }
  .title_txt1 {
    font-size: 96px;
  }
  .selector {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto !important;
        grid-template-rows: auto !important;
    width: 1500px;
    height: 550px;
    margin-top: 40px;
    grid-gap: 30px;
    padding: 30px;
  }
  .selector .but0,
  .selector .but1,
  .selector .but2 {
    width: 295px;
    height: 68px;
    border-radius: 37px;
  }
  .selector .logo0,
  .selector .logo1,
  .selector .logo2 {
    margin-top: 150px;
    width: 300px;
    height: 300px;
  }
  .selector .txt0,
  .selector .txt1,
  .selector .txt2 {
    padding-top: 18px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1819px) {
  .title {
    height: 200px;
  }
  .title_txt0 {
    font-size: 80px;
  }
  .title_txt1 {
    font-size: 80px;
  }
  .selector {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto !important;
        grid-template-rows: auto !important;
    width: 1300px;
    height: 478px;
    margin-top: 40px;
    grid-gap: 25px;
    padding: 25px;
  }
  .selector .but0,
  .selector .but1,
  .selector .but2 {
    width: 275px;
    height: 63px;
    border-radius: 37px;
  }
  .selector .logo0,
  .selector .logo1,
  .selector .logo2 {
    margin-top: 115px;
    width: 250px;
    height: 250px;
  }
  .selector .txt0,
  .selector .txt1,
  .selector .txt2 {
    padding-top: 16px;
    font-size: 22px;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1499px) {
  .title {
    height: 150px;
  }
  .title_txt0 {
    font-size: 60px;
  }
  .title_txt1 {
    font-size: 60px;
  }
  .selector {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto !important;
        grid-template-rows: auto !important;
    width: 1000px;
    height: 368px;
    margin-top: 40px;
    grid-gap: 17px;
    padding: 17px;
  }
  .selector .but0,
  .selector .but1,
  .selector .but2 {
    width: 200px;
    height: 46px;
    border-radius: 30px;
  }
  .selector .logo0,
  .selector .logo1,
  .selector .logo2 {
    margin-top: 80px;
    width: 175px;
    height: 175px;
  }
  .selector .txt0,
  .selector .txt1,
  .selector .txt2 {
    padding-top: 8px;
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1179px) {
  .title {
    height: 150px;
  }
  .title_txt0 {
    font-size: 60px;
  }
  .title_txt1 {
    font-size: 60px;
  }
  .selector {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto !important;
        grid-template-rows: auto !important;
    width: 725px;
    height: 266px;
    margin-top: 20px;
    grid-gap: 12px;
    padding: 12px;
  }
  .selector .but0,
  .selector .but1,
  .selector .but2 {
    width: 150px;
    height: 34px;
    border-radius: 15px;
  }
  .selector .logo0,
  .selector .logo1,
  .selector .logo2 {
    margin-top: 75px;
    width: 125px;
    height: 125px;
  }
  .selector .txt0,
  .selector .txt1,
  .selector .txt2 {
    padding-top: 3px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    height: 75px;
  }
  .title_txt0 {
    font-size: 28px;
  }
  .title_txt1 {
    font-size: 28px;
  }
  .selector {
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
    width: 280px;
    height: 1000px;
    margin-top: 50px;
    grid-gap: 20px;
    padding: 20px;
  }
  .selector .but0,
  .selector .but1,
  .selector .but2 {
    width: 200px;
    height: 46px;
    border-radius: 30px;
  }
  .selector .logo0,
  .selector .logo1,
  .selector .logo2 {
    margin-top: 82px;
    width: 160px;
    height: 160px;
  }
  .selector .txt0,
  .selector .txt1,
  .selector .txt2 {
    padding-top: 7px;
    font-size: 15px;
  }
}

body {
  background-attachment: fixed;
  background-image: url("../data/img/BGI.jpg");
  background-size: cover;
  margin: 0;
}

.title {
  width: auto;
  -webkit-animation-name: titleon;
          animation-name: titleon;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 13px 42px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 13px 42px rgba(0, 0, 0, 0.25);
}

.title .title_txt0 {
  font-family: 'HL1';
  font-style: normal;
  text-align: center;
  color: #FF9900;
  line-height: 145%;
  text-shadow: 7px 8px 21px rgba(255, 184, 0, 0.25);
}

.title .title_txt1 {
  font-family: 'Source-light';
  font-style: normal;
  text-align: center;
  line-height: 75%;
  color: #FFFFFF;
}

.selector {
  display: -ms-grid;
  display: grid;
  -webkit-animation-name: selectoron;
          animation-name: selectoron;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  background: rgba(32, 32, 32, 0.55);
  -webkit-box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  margin-left: auto;
  margin-right: auto;
}

.selector .txt0,
.selector .txt1,
.selector .txt2 {
  font-family: 'Source-medium';
  font-style: normal;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.selector .sel0,
.selector .sel1,
.selector .sel2 {
  background: rgba(84, 84, 84, 0.75);
  border-radius: 45px;
}

.selector .sel0 .logo0,
.selector .sel0 .logo1,
.selector .sel0 .logo2,
.selector .sel1 .logo0,
.selector .sel1 .logo1,
.selector .sel1 .logo2,
.selector .sel2 .logo0,
.selector .sel2 .logo1,
.selector .sel2 .logo2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation-name: logodown;
          animation-name: logodown;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
}

.selector .sel0 .but0,
.selector .sel0 .but1,
.selector .sel0 .but2,
.selector .sel1 .but0,
.selector .sel1 .but1,
.selector .sel1 .but2,
.selector .sel2 .but0,
.selector .sel2 .but1,
.selector .sel2 .but2 {
  background: #C2C2C2;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0%;
  -webkit-animation-name: butdown;
          animation-name: butdown;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
}

.selector .but0:hover,
.selector .but1:hover,
.selector .but2:hover {
  background: #8f8f8f;
  cursor: pointer;
}

.selector .sel0:hover .logo0,
.selector .sel0:hover .logo1,
.selector .sel0:hover .logo2,
.selector .sel1:hover .logo0,
.selector .sel1:hover .logo1,
.selector .sel1:hover .logo2,
.selector .sel2:hover .logo0,
.selector .sel2:hover .logo1,
.selector .sel2:hover .logo2 {
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
  -webkit-animation-name: logoup;
          animation-name: logoup;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
}

.selector .sel0:hover .but0,
.selector .sel0:hover .but1,
.selector .sel0:hover .but2,
.selector .sel1:hover .but0,
.selector .sel1:hover .but1,
.selector .sel1:hover .but2,
.selector .sel2:hover .but0,
.selector .sel2:hover .but1,
.selector .sel2:hover .but2 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation-name: butup;
          animation-name: butup;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  opacity: 100%;
}

@-webkit-keyframes logoup {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
}

@keyframes logoup {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
}

@-webkit-keyframes butup {
  from {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes butup {
  from {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

@-webkit-keyframes logodown {
  from {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes logodown {
  from {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes butdown {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
  to {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
    opacity: 0%;
  }
}

@keyframes butdown {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
  to {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
    opacity: 0%;
  }
}

@-webkit-keyframes titleon {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes titleon {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes selectoron {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  60% {
    opacity: 0%;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes selectoron {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  60% {
    opacity: 0%;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=MainPageStyle.css.map */